#################
## Haskell
#################

dist
cabal-dev
*.o
*.hi

############
## Playground Binary files
############
Playground/*.exe
Playground/*.wav
Playground/*.hp
Playground/*.perf
Playground/*.aux

############
## File Editor temp files
############
*~

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## Mac OS
############

# Mac crap
.DS_Store

############
## HSoM LaTeX files
############
HSoM/*.tex
HSoM/*.log
HSoM/*.dvi
HSoM/*.ps
HSoM/*.pdf

############
## fftw files (should these be in the repo?)
############
fftw3.dll
fftw3.h
