#################
## Haskell
#################

dist
cabal-dev
*.o
*.hi


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## Mac OS
############

# Mac crap
.DS_Store

############
## fftw files (should these be in the repo?)
############
fftw3.dll
fftw3.h
